$primary: #015198;
    $secondary: #24dcae;
    $lightBlue: #a1fefe;
    $darkBlue: #003B70;
    $yellow: #F1C04E;
    $white: #FFFFFF;
    $black: #000000;
    $lightGray: #F5F8F8;
    $fontDarken: #4C5D5D;
    $fontGray: #9AACAC;
    $fontGrayLighten: #8CA4A4;
    $fontDark : #4B5D5D;
    $gray1: #E5EBEB;
    $gray2: #9CB1B1;
    $gray3: #00000012;
    $gray4: #C4D5D5;
    $gray5: #E4EDED;
    $gray6: #A8BCBB;
    $gray7: #01519833;
    $gray8: #899F9F;
    $gray9: #8CA4A4;
    $star: #E2E2E6;
